.nav-user {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav-user .navbars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
  }
  
  .nav-user .navbars-logo {
    color: #4a9d76;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .nav-user .nav-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    
  }

  .nav-user .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-user .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-user .nav-links a {
    color:black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-user .nav-links a:hover, 
  .nav-user .nav-links a.active {
    color: var(--accent);
  }
  
  .nav-user .nav-button-signup {
    background-color: #c92936;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .nav-user .nav-button-signup:hover {
    background-color: #be1a27;
  }